@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Mincho', serif;
    font-family: "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
}

.container {
    display: flex;
    overflow-x: auto;
}
.header-nav-item {
    position: relative;
}

.header-nav-item::after {
    content: '';
    position: absolute;
    left: 50%; /* リンクの中心からスタート */
    bottom: 0;
    width: 0; /* 初期状態では幅0 */
    height: 2px; /* 下線の太さ */
    background-color: #fff; /* 下線の色 */
    transition: width 0.3s ease; /* アニメーションの追加 */
    transform: translateX(-50%); /* 中央に配置 */
}

.header-nav-item:hover::after {
    width: 100%; /* リンク全体の幅に広げる */
}
.itmes .icon img{
    margin-left: 29px;
    width: 50px;
    transition: all 0.3s;
}
.header-nav-list .itmes .icon:hover img{
    transform: scale(1.3);
}

.header-wrapper {
    width: 20%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header-logo {
    display: flex;
    align-items: center;
}
.net{
    margin-top: 20px;
    display: flex;
}
#movie{
    background-color: #8e010192;
}
#chara{
    background-color: #8e010192;
}
.header-logo-img {
    margin: 40px 30px 30px 20px;
    height: 70px;
    width: 200px;
    padding: 0;
    transition: all 0.3s;
}

.header-logo-link:hover .header-logo-img{
    transform: scale(1.1);
}
.header-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header-nav-item {
    padding: 21px 0 21px 30px;
}

.header-nav-item:last-child {
    margin-top: auto; /* 最後の項目を下部に配置 */
}
footer {
    width: 100%;
    color: #ffffff;
    background-color: black;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

footer small {
    font-size: 14px;
}
section {
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    height: 400vh;
    width: 80%;
    margin: 0;
    position: relative;
    margin-left: auto;
}

/* セクション内の .movie クラスに適用するスタイル */
section .movie {
    color: aliceblue;
    text-align: center;
}
section .movie .iframe-group{
    display: flex;

}
.movie h1{
    font-size: 60px;
    color: #c20000;
}

.box{
    display: flex;
    flex-direction: column; 
    text-align: left; 
    margin: 0 auto;
}
.box p{
    width: 450px;
}

.wrap {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .swiper-slide img {
    width: 80%;
  }
  
  /* サムネイルのスタイル */
  .thumbnail .swiper-slide {
    padding: 0;
    margin: 0;
    opacity: 0.5;
  }
  .swiper-slide{
    width: 200px;
  }
  .gallery-thumbs .swiper-wrapper {
    display: flex; /* Flexboxを使用して要素を横並びに */
}
.thumbnail .swiper-slide {
    flex: 0 0 auto; /* サイズを固定 */
}

  .thumbnail img{
    width: 100%;
    display: block;
  }
  /* サムネイルのアクティブスタイル */
  .thumbnail .swiper-slide-thumb-active {
    opacity: 1;
  }